.modal-container {
  width: 35rem;
  min-height: 25rem;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  place-items: center;
  padding: 1rem;
  border-radius: 0.8rem;
}

.modal-container h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.modal-container button {
  width: 80%;
  padding: 1rem 0;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 250ms;
  border-radius: 999px;
  background-color: orange;
}

.modal-container button:hover {
  filter: brightness(0.8);
}

.winner {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
  border-radius: 1rem;
  background-color: #18a318;
}

.winner p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

.modal-container a {
  margin-top: 2rem;
}
